body {
    font-family: cursive;
    margin: 10px 30px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.container {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 180px;
    border-radius: 10px;
    display: inline-flex;
    margin: 10px;
    font-size: 20px;
}

